## Where we got the data
We got the data from grouplens. http://files.grouplens.org/datasets/hetrec2011/hetrec2011-movielens-2k-v2.zip
This was the same data that was used in the research paper. It contains many files in .dat extension.
We chose to use movie_actors, movie_countries, movie_directors, movie_genres, movie_locations, tags, movies, and tags file for our learning model. We will use user_ratedmovies later for our recommendations.

## How we converted data into dat files
The procedure to convert these files from dat to csv was to use this [stackoverflow link](https://stackoverflow.com/questions/11483920/convert-dat-files-to-either-dta-shp-bdf-or-csv) to make the files into csv. Delimiter was kept as tab.
Then the issue was of encoding. This [link](https://stackoverflow.com/questions/7256049/how-do-i-convert-an-ansi-encoded-file-to-utf-8-with-notepad) to change encoding to utf-8 with notepad by going to save as and changing encoding so pandas could read the data. There was an attempt to set encoding the file in utf-16-le [as stated here](https://stackoverflow.com/questions/43786852/python-pandas-load-csv-ansi-format-as-utf-8) but that attempt was unsuccessful hence encoding set to utf-8

In [109]:
import os
import numpy as np

In [31]:
os.getcwd()

'F:\\Semester 4\\Data Structures 2\\Project\\DataReading'

In [32]:
import pandas as pd
movie_actors = pd.read_csv("Data Refined\\movie_actors.csv")

In [33]:
movie_actors.head()

   movieID          actorID        actorName  ranking
0        1      annie_potts      Annie Potts       10
1        1      bill_farmer      Bill Farmer       20
2        1      don_rickles      Don Rickles        3
3        1  erik_von_detten  Erik von Detten       13
4        1        greg-berg        Greg Berg       17

In [110]:
num_features_movie_actors=movie_actors.groupby("movieID").agg("count")["actorID"].replace(np.nan, 0)

In [34]:
movie_countries = pd.read_csv("Data Refined\\movie_countries.csv")

In [35]:
movie_countries.head()

   movieID country
0        1     USA
1        2     USA
2        3     USA
3        4     USA
4        5     USA

In [111]:
num_features_movie_countries=movie_countries.groupby("movieID").agg("count")["country"].replace(np.nan, 0)

In [36]:
movie_directors = pd.read_csv("Data Refined\\movie_directors.csv")

In [37]:
movie_directors.head()

   movieID       directorID     directorName
0        1    john_lasseter    John Lasseter
1        2     joe_johnston     Joe Johnston
2        3    donald_petrie    Donald Petrie
3        4  forest_whitaker  Forest Whitaker
4        5    charles_shyer    Charles Shyer

In [112]:
num_features_movie_directors=movie_directors.groupby("movieID").agg("count")["directorID"].replace(np.nan, 0)

In [38]:
movie_genres = pd.read_csv("Data Refined\\movie_genres.csv")

In [39]:
movie_genres.head()

   movieID      genre
0        1  Adventure
1        1  Animation
2        1   Children
3        1     Comedy
4        1    Fantasy

In [113]:
num_features_movie_genres=movie_genres.groupby("movieID").agg("count")["genre"].replace(np.nan, 0)

In [40]:
movie_locations = pd.read_csv("Data Refined\\movie_locations.csv")

In [41]:
movie_locations.head()

   movieID location1         location2    location3   location4
0        1       NaN               NaN          NaN         NaN
1        2    Canada  British Columbia          NaN         NaN
2        2    Canada  British Columbia        Delta         NaN
3        2    Canada  British Columbia        Delta  Tsawwassen
4        2    Canada  British Columbia  Maple Ridge         NaN

In [179]:
num_features_movie_locations=movie_locations[["movieID","location1"]].drop_duplicates().groupby("movieID").agg("count")["location1"].replace(np.nan, 0)
#num_features_movie_locations=movie_locations[""].groupby("movieID").agg("count")["location1"].replace(np.nan, 0)

In [42]:
movie_tags = pd.read_csv("Data Refined\\movie_tags.csv")

In [43]:
movie_tags.head()

   movieID  tagID  tagWeight
0        1      7          1
1        1     13          3
2        1     25          3
3        1     55          3
4        1     60          1

In [141]:
numfeatures_tag=movie_tags.groupby("movieID").agg("count")["tagID"].replace(np.nan, 0)
numfeatures_tag

movieID
1        43
2        18
3         6
5         8
6        24
         ..
64993     4
65006     1
65037     4
65126     2
65130     1
Name: tagID, Length: 7155, dtype: int64

In [44]:
movies = pd.read_csv("Data Refined\\movies.csv")

In [45]:
movies.head()

,id,title,imdbID,spanishTitle,imdbPictureURL,year,rtID,rtAllCriticsRating,rtAllCriticsNumReviews,rtAllCriticsNumFresh,...,rtAllCriticsScore,rtTopCriticsRating,rtTopCriticsNumReviews,rtTopCriticsNumFresh,rtTopCriticsNumRotten,rtTopCriticsScore,rtAudienceRating,rtAudienceNumRatings,rtAudienceScore,rtPictureURL
0,1,Toy story,114709,Toy story (juguetes),http://ia.media-imdb.com/images/M/MV5BMTMwNDU0...,1995,toy_story,9,73,73,...,100,8.5,17,17,0,100,3.7,102338,81,http://content7.flixster.com/movie/10/93/63/10...
1,2,Jumanji,113497,Jumanji,http://ia.media-imdb.com/images/M/MV5BMzM5NjE1...,1995,1068044-jumanji,5.6,28,13,...,46,5.8,5,2,3,40,3.2,44587,61,http://content8.flixster.com/movie/56/79/73/56...
2,3,Grumpy Old Men,107050,Dos viejos gruñones,http://ia.media-imdb.com/images/M/MV5BMTI5MTgy...,1993,grumpy_old_men,5.9,36,24,...,66,7,6,5,1,83,3.2,10489,66,http://content6.flixster.com/movie/25/60/25602...
3,4,Waiting to Exhale,114885,Esperando un respiro,http://ia.media-imdb.com/images/M/MV5BMTczMTMy...,1995,waiting_to_exhale,5.6,25,14,...,56,5.5,11,5,6,45,3.3,5666,79,http://content9.flixster.com/movie/10/94/17/10...
4,5,Father of the Bride Part II,113041,Vuelve el padre de la novia (Ahora también abu...,http://ia.media-imdb.com/images/M/MV5BMTg1NDc2...,1995,father_of_the_bride_part_ii,5.3,19,9,...,47,5.4,5,1,4,20,3,13761,64,http://content8.flixster.com/movie/25/54/25542...

In [88]:
tags = pd.read_csv("Data Refined\\tags.csv")

In [89]:
tags.head()

   id    value
0   1    earth
1   2   police
2   3   boxing
3   4  painter
4   5    whale

In [180]:

cool=num_features_movie_actors+num_features_movie_countries+num_features_movie_directors + \
num_features_movie_genres+num_features_movie_locations+numfeatures_tag

In [181]:
cool.max()

237.0